/*style for the arrow image*/
.arrow-image{
  position: absolute;
  height: 8px;
  width: 11px;
  margin-top: 69px;
  margin-left: 1301px;
}
/* style for the background design */
.background{
  height: 880.5px;
  width: 1361px;
  margin-top: -20px;
  margin-left: -20px;
}
.first-text{
  font-size: 36px;
  color:  #4E598C;
  margin-top: -700px;
  margin-left: 358px;
  margin-bottom: 59px;
  font-weight: 700;
  font-family: 'Product Sans';
}
.personal-info{
  margin-top: -8px;
  margin-left: 360px;
  font-size: 24px;
  color: #BDBDBD;
  font-family: 'Product Sans';
  font-weight: 700;
}
.billing-info{
  margin-top: -54px;
  font-weight: 700;
  margin-left: 600px;
  margin-bottom: 27px;
  font-size: 24px;
  color: #F2994A;
  font-family: 'Product Sans';
}
.confirm-payment{
  margin-top: -54px;
  font-weight: 700;
  margin-left: 820px;
  margin-bottom: 27px;
  font-size: 24px;
  color: #BDBDBD;
  font-family: 'Product Sans';
}
.rectangle-501{
  margin-left: 580px;
  margin-top: -2px;
  height: 13px;
  width: 170px;
  background: #F2994A;
  border-radius: 10px;
  position: absolute;
}
.line-73{
  margin-top: 4px;
  position: absolute;
  height: 0px;
  margin-left: 360px;
  width: 680px;
  border: 1px solid #000000;
}
/*style for the box that displays the breakdownof the payment */
.rectangle-510{
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 82px;
   margin-left: 360px;
   width: 720px;
   height: 70px;
   border-radius: 16px 10px 0px 0px;
   background: #2F80ED;
}
.item-name{
  margin-top: -50px;
  margin-left: 455.5px;
  color: #FFFFFF;
  font-family: 'Product Sans';
  font-weight: 700;
  font-size: 20px;
}
.naira{
  margin-top: -47px;
  margin-left: 850px;
  height: 16.7px;
  width: 25.5px;
  position: absolute;
}
.price{
  margin-left: 879px;
  margin-top: -43px;
  color: #FFFFFF;
  font-family: 'Product Sans';
  font-weight: 700;
  font-size: 20px;
}
.rectangle-509{
  width: 720px;
  height: 325px;
  margin-top: 5px;
  background: #FFFFFF;
  box-shadow: 0px 10px 15px rgba(33, 30, 67, 0.08);
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  margin-left: 360px;
}
.data-science{
  margin-top: 62px;
  margin-left: 455px;
  position: absolute;
  font-family: 'Product Sans';
  font-weight: 400;
  font-size: 20px;
  color: #4E598C;
}
.fifty{
  margin-top: 62px;
  margin-left: 838px;
  position: absolute;
  font-family: 'Product Sans';
  font-weight: 700;
  font-size: 20px;
  color: #4E598C;
}
.shipping{
  margin-top: 132px;
  margin-left: 455px;
  position: absolute;
  font-family: 'Product Sans';
  font-weight: 400;
  font-size: 20px;
  color: #4E598C;
}
.shipping-fee{
  margin-top: 132px;
  margin-left: 883px;
  position: absolute;
  font-family: 'Product Sans';
  font-weight: 700;
  font-size: 20px;
  color: #4E598C;
}
.line-77{
  margin-top: 199px;
  margin-left: 423px;
  width: 586px;
  border: 1px solid #817E9E;
  position: absolute;
}
.rectangle-504{
   margin-left: 442px;
   margin-top: 223px;
   width: 545px;
   height: 58px;
   background: #FFFFFF;
   border: 1px solid #817E9E;
   border-radius: 5px;
   box-sizing: border-box;
   position: absolute;
}
.total{
  margin-top: 240px;
  position: absolute;
  margin-left: 453px;
  font-family: 'Product Sans';
  font-weight: 400;
  font-size: 20px;
  color: #817E9E;
}
.total-fee{
  margin-top: 240px;
  margin-left: 826px;
  position: absolute;
  font-family: 'Product Sans';
  font-weight: 700;
  font-size: 20px;
  color: #4E598C;
}
.rectangle-498{
  margin-top: 400px;
  margin-left: 360px;
  border: none;
  position: absolute;
  height: 58px;
  width: 238px;
  background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
  border-radius: 10px;
}
.pay{
  margin-top: 400px;
  position: absolute;
  margin-left: 450px;
  font-family: Product Sans;
  font-size:   20px;
  font-weight: 700;
  color: #F7F7FF;
}
.cancel-payment{
  margin-top: 400px;
  margin-left: 700px;
  font-family: 'Product Sans';
  font-weight: 700;
  font-size: 20px;
  color: #4E598C;
  position: absolute;
}
.bottom{
  margin-top: 580px;
}


/* For screen Sizes of 1440px and above */
@media screen and (min-width: 1440px) {
  .background{
    height: 880.5px;
    width: 1446px;
    margin-top: -20px;
    margin-left: -20px;
  }
  .arrow-image{
    position: absolute;
    height: 8px;
    width: 11px;
    margin-top: 69px;
    margin-left: 1331px;
  }
}
@media screen and (max-width:600px) {
  .background{
    display: none;
  }
  .arrow-image{
    display: none;
  }
  .rectangle-486{
    margin-top: -440px;
    margin-left: -7.6px;
    height: 90px;
    width: 100%;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
    box-shadow: 0px 6px 10px 0px #211E4314;
  }
  .line-1{
    margin-left: 374px;
    margin-top: -422px;
    width: 36px;
    position: absolute;
    border: 3px solid #000000;
  }
  .line-2{
    margin-left: 374px;
    margin-top: -407px;
    width: 30px;
    position: absolute;
    border: 3px solid #000000;
  }
  .line-3{
    margin-left: 374px;
    margin-top: -392px;
    width: 17px;
    position: absolute;
    border: 3px solid #000000;
  }
  .first-text{
    margin-top: -255px;
    margin-left: 31px;
    font-family: Product Sans;
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    color: #4E598C;
  }
  .personal-info{
      display: none;
  }
  .billing-info{
    display: none;
  }
  .illing-info{
    margin-left: 31px;
    margin-top: -228px;
    position: absolute;
    font-family: 'Product Sans';
    font-weight: 700;
    font-size: 20px;
    color: #F2994A;
  }
  .confirm-payment{
    margin-top: -156px;
    margin-left: 245px;
    white-space: nowrap;
    font-family: Product Sans;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    color: #BDBDBD;
  }
  .rectangle-501{
    margin-top: -83px;
    margin-left: 230px;
    width: 170px;
    height: 13px;
    border-radius: 10px;
    position: absolute;
    background: #F2994A;
  }
  .line-73{
    margin-left: 31px;
    margin-top: -77px;
    margin-bottom: 0;
    width: 323px;
    position: absolute;
    border: 1px solid #828282;
  }
  .rectangle-510{
    margin-top: 357px;
     width: 355px;
     margin-left: 31px;
  }
  .item-name{
    margin-left: 70px;
  }
  .naira{
    margin-left: 258px;
    height: 16.7px;
    width: 11.1px;
  }
  .price{
    margin-left: 275px;
  }
  .rectangle-509{
    margin-left: 31px;
    width: 355px;
    height: 385px;
  }
  .data-science{
    margin-left: 43px;
    white-space: pre;
    font-size: 16px;
  }
  .fifty{
    margin-left: 250px;
    font-size: 16px;
  }
  .shipping{
    margin-top: 170px;
    margin-left: 43px;
    font-size: 16px;
  }
  .shipping-fee{
    margin-top: 170px;
    margin-left: 293px;
    font-size: 16px;
  }
  .line-77{
    margin-top: 250px;
    margin-left: 43px;
    width: 297px;
  }
  .rectangle-504{
    margin-top: 300px;
    width: 302px;
    margin-left: 43px;
  }
  .total{
     margin-top: 316px;
     margin-left: 68px;
  }
  .total-fee{
    margin-top: 320px;
    margin-left: 256px;
    font-size: 16px;
  }
  .rectangle-498{
    width: 355px;
    margin-top: 430px;
    margin-left: 31px;
  }
  .pay{
    display: none;
  }
  .next{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Product Sans';
    margin-top: 425px;
    margin-left: 169px;
    position: absolute;
  }
  .rectangle-46{
    margin-left: 31px;
    margin-top: 530px;
    height: 62px;
    box-sizing: border-box;
    position:absolute;
    width: 355px;
    border: 1px solid #4E598C;
    border-radius: 10px;
  }
  .cancel-payment{
    margin-top: 527px;
    margin-left: 127px;
    position: absolute;
  }
  .bottom{
    margin-top: 700px;
  }

}
